Repository mrcaidev/cue: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

feat: bind, on, model, mustache
  src/app.ts
  src/core/compile/bind.handler.ts
  src/core/compile/index.ts
  src/core/compile/model.handler/checkbox.ts
  src/core/compile/model.handler/index.ts
  src/core/compile/model.handler/input.ts
  src/core/compile/model.handler/invalid.ts
  src/core/compile/model.handler/multi-checkbox.ts
  src/core/compile/model.handler/radio.ts
  src/core/compile/model.handler/select.ts
  src/core/compile/model.handler/type.ts
  src/core/compile/mustache.handler.ts
  src/core/compile/on.handler.ts
  src/core/reactive.ts
  src/core/subscriptors.ts
  src/core/watcher.ts
  src/index.ts
  src/utils.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

test: utils, directives, mustache
  tests/core/bind.test.ts
  tests/core/model.test.ts
  tests/core/mustache.test.ts
  tests/core/on.test.ts
  tests/utils.test.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

chore: example with vite vanilla-ts
  example/.gitignore
  example/favicon.svg
  example/index.html
  example/package.json
  example/pnpm-lock.yaml
  example/src/main.ts
  example/src/style.css
  example/src/vite-env.d.ts
  example/tsconfig.json
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

docs: api report
  etc/cue.api.md
Due: prettier --write --cache

docs: add README
  README.md
  public/example.png
  public/logo.svg
Due: prettier --write --cache

fix: broken documentation link
  README.md
Due: prettier --write --cache

feat: show directive
  src/core/compile/index.ts
  src/core/compile/show.handler.ts
  tests/core/show.test.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

fix: corrent type Element to HTMLElement
  src/core/compile/bind.handler.ts
  src/core/compile/index.ts
  src/core/compile/model.handler/checkbox.ts
  src/core/compile/model.handler/index.ts
  src/core/compile/model.handler/input.ts
  src/core/compile/model.handler/multi-checkbox.ts
  src/core/compile/model.handler/radio.ts
  src/core/compile/model.handler/select.ts
  src/core/compile/model.handler/type.ts
  src/core/compile/on.handler.ts
  src/core/compile/show.handler.ts
  src/utils.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

feat: html directive
  src/core/compile/html.handler.ts
  src/core/compile/index.ts
  tests/core/html.test.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

fix: bind directive on boolean attributes
  src/constants.ts
  src/core/compile/bind.handler.ts
  tests/core/bind.test.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

refactor: auto first-time callback in watcher
  src/core/compile/bind.handler.ts
  src/core/compile/html.handler.ts
  src/core/compile/model.handler/checkbox.ts
  src/core/compile/model.handler/index.ts
  src/core/compile/model.handler/input.ts
  src/core/compile/model.handler/multi-checkbox.ts
  src/core/compile/model.handler/radio.ts
  src/core/compile/model.handler/select.ts
  src/core/compile/mustache.handler.ts
  src/core/compile/show.handler.ts
  src/core/watcher.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

refactor: directive handlers
  src/core/compile/bind.ts
  src/core/compile/html.ts
  src/core/compile/index.ts
  src/core/compile/model.handler/checkbox.ts
  src/core/compile/model.handler/input.ts
  src/core/compile/model.handler/invalid.ts
  src/core/compile/model.handler/multi-checkbox.ts
  src/core/compile/model.handler/radio.ts
  src/core/compile/model.handler/select.ts
  src/core/compile/model/checkbox.ts
  src/core/compile/model/index.ts
  src/core/compile/model/input.ts
  src/core/compile/model/multi-checkbox.ts
  src/core/compile/model/radio.ts
  src/core/compile/model/select.ts
  src/core/compile/model/type.ts
  src/core/compile/mustache.ts
  src/core/compile/on.ts
  src/core/compile/show.ts
  tests/core/model.test.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

0.2.0
  package.json
Due: prettier --write --cache

build: install cue from registry
  example/package.json
  example/pnpm-lock.yaml
Due: prettier --write --cache

feat: more feature examples
  example/index.html
  example/src/main.ts
  example/src/style.css
  example/src/styles/globals.css
  example/src/styles/utils.css
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

docs: lift documentation on top
  README.md
Due: prettier --write --cache

build: migrate to vite and vitest
  .commitlintrc.json
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  api-extractor.json
  commitlint.config.ts
  eslint.config.js
  etc/cue.api.md
  jest.config.js
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  tsconfig.build.json
  tsconfig.json
  vite.config.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

refactor: clearer get and set functions
  src/utils.ts
  tests/utils.test.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

test: add tests for dom utils
  package.json
  pnpm-lock.yaml
  src/utils/dom.ts
  src/utils/object.ts
  tests/utils/dom.test.ts
  tests/utils/object.test.ts
  vite.config.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

ci: add missing double dash
  .husky/pre-push
Due: none

test: limit coverage included range
  vite.config.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

ci: automated linting and testing
  .github/workflows/ci.yaml
Due: none

fix: specify node version to lts/*
  .github/workflows/ci.yaml
Due: none

ci: show test coverage
  .github/workflows/ci.yaml
Due: none

0.3.0
  package.json
Due: prettier --write --cache

chore: remove example
  example/.gitignore
  example/favicon.svg
  example/index.html
  example/package.json
  example/pnpm-lock.yaml
  example/src/main.ts
  example/src/styles/globals.css
  example/src/styles/utils.css
  example/src/vite-env.d.ts
  example/tsconfig.json
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

chore: rename public to assets
  README.md
  assets/example.png
  assets/logo.svg
Due: prettier --write --cache

fix: missing double dash in ci command
  .github/workflows/ci.yaml
Due: none

chore: bun as package manager
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

refactor: update configs
  .github/workflows/ci.yaml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .prettierignore
  LICENSE
  README.md
  assets/example.png
  assets/logo.svg
  biome.json
  bun.lockb
  commitlint.config.ts
  eslint.config.js
  lint-staged.config.js
  package.json
  prettier.config.js
  scripts/build.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

feat: codebase migrate to bun
  biome.json
  bun.lockb
  bunfig.toml
  package.json
  src/app.ts
  src/index.ts
  src/reactive.ts
  src/transpiler/bind.ts
  src/transpiler/html.ts
  src/transpiler/index.ts
  src/transpiler/model.ts
  src/transpiler/mustache.ts
  src/transpiler/on.ts
  src/transpiler/show.ts
  src/transpiler/transpile.ts
  src/utils/object.ts
  tests/preload.ts
  tests/reactive.test.ts
  tests/transpiler/bind.test.ts
  tests/transpiler/html.test.ts
  tests/transpiler/model.test.ts
  tests/transpiler/mustache.test.ts
  tests/transpiler/on.test.ts
  tests/transpiler/show.test.ts
  tests/utils/object.test.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

fix: tsc linter error
  tests/transpiler/bind.test.ts
Due: prettier --write --cache, eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache

Path conditions:
  prettier --write --cache: (any of: *.{html,css,md,json}) or (any of: *.{js,ts})
  eslint --fix --cache --cache-location ./node_modules/.cache/eslint/.eslintcache: any of: *.{js,ts}
